[color]
	ui = auto
[user]
	name = SilasCaimi
	email = silascaimi@live.com
[core]
	editor = 'C:/Program Files/Sublime Text 3/sublime_text.exe' -n -w
[push]
	default = upstream
[merge]
	conflictstyle = diff3
